{% extends "base.html" %}
{% block content %}
<table border="5">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>description</th>
        <th>demo_link</th>
         <th>source_link</th>
         <th>created_at</th>
    </tr>
    {% for item in data %}
        <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.demo_link }}</td>
        <td>{{ item.source_link }}</td>
        <td>{{ item.created_at }}</td>
        </tr>
    {% endfor %}

</table>
{% endblock %}